

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      
    <a class="navbar-brand" href="page1"><img src="..\assets\image/logo.png" alt="Logo" class="logo">SSI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item active">
  <a class="nav-link active" routerLink="/page1">Home</a>
  </li>
  <li class="nav-item"> 
    <a class="nav-link" routerLink="/reserv">Inscription</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/welcom">Connexion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="PackFormation">PackFormation</a>
      </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="/MaterielsInfo">MaterielsInfo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ServicedeSSI">ServicedeSSI</a>
    </li>
  

  <li class="nav-item">
  <a class="nav-link" routerLink="/listeproduit">Product</a>
  </li>
  
    
    
    </ul>
    <form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</div>
</div>
  </nav>
