.description{
    font-style: italic;
    color: brown;
    }
    h2{
        font-size: larger;
        font-family: sans-serif;
        color: blueviolet;
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        text-decoration: underline; 
    }
    h2:hover{
        font-size: 45px;
        font-style: italic;
        font-variant: normal;
    }
    card-title{
        font-size:18px;
        font-style: italic;
        font-variant: normal;
    }
    .card-text{
        font-size: 18px;
        font-style: italic;
        font-variant: normal; 
    }
    .card:hover{
    transform:scale(1.1);
    width: 350px;
    width: 350px;
    }
    div{
        border-radius:50px;
    }
    