<H1 style="color: brown;"> >Start leraning for free</H1>
  <p>Unlock the boundless potential within you by embarking on a transformative learning journey with our free platform. Dive into a world of knowledge where curiosity knows no bounds and exploration knows no limits.
     Whether you're seeking to sharpen your skills, expand your horizons, or pursue your passions,
     our platform offers a wealth of resources curated to empower and inspire you. From comprehensive courses taught by industry experts to interactive tutorials and engaging projects, there's something for everyone, 
    regardless of age or background. Join our community of lifelong learners and embark on a path of continuous growth and discovery. Embrace the opportunity to unlock new opportunities, ignite your creativity, and unleash your full potential.
     Start your learning adventure today and embark on a journey of self-discovery, enlightenment, and endless possibilities.
  </p>

<div class="container"></div>
  
    <body>
        <div class="container" style="cursor: pointer;" >
          <div class="row justify-content-center vh-100">
            <div class="col-md-6"  (click)="updateSQL()" >
              <div class="card" >
                <img src="..\assets\sqlcourses.jpeg" class="card-img-top" alt="..." height="250px" width="250px">
                <div class="card-body">
                  <h5 class="card-title">Start learning SQL</h5>
                  <p class="card-text" >Structured query language (SQL) is a programming language for storing and processing information in a relational database.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6" (click)="updatePY()">
              <div class="card" >
                <img src="..\assets\pycourse.jpeg" class="card-img-top" alt="..." height="250px" width="250px">
                <div class="card-body">
                  <h5 class="card-title">Start learning Python</h5>
                  <p class="card-text">Python is a dynamic, interpreted (bytecode-compiled) language. There are no type declarations of variables, parameters, functions, or methods in source code.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6"  (click)="updateJAVA()" >
                <div class="card" >
                  <img src="..\assets\javacourses.png" class="card-img-top" alt="..." height="250px" width="250px">
                  <div class="card-body">
                    <h5 class="card-title">Start learning JAVA</h5>
                    <p class="card-text" >Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself. It is a fast, secure, reliable language</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6"  (click)="updatePHP()" >
                <div class="card" >
                  <img src="..\assets\phpcourses.png" class="card-img-top" alt="..." height="250px" width="250px">
                  <div class="card-body">
                    <h5 class="card-title">Start learning PHP</h5>
                    <p class="card-text" >PHP is a general-purpose scripting language geared towards web development it is a good language to begin with </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        
       
    </body>
