body{
    background-size: cover;
    background-position: center;
    display: flex;
   
}
h1{ 
        font-size:10px;
        font-family:Verdana;
        color: rgb(147, 11, 120);
        font-size: 40px;
        font-weight: 300;  
}

input{
    background-color: #d8d3d3de;
}
 