.btn.btn-success{
   
    position: absolute;
    transform: translateY(-50%);
    right: 20px; /* Adjust this value as needed */
  }
  body {
    background-color: #f5f5f5;
  }
  
  .container {
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .code {
    color: #0d6efd;
  }
  .jumbotron {
    background-color: #5a94ec;
    color: white;
  }
  .btn.btn-danger{
    position: absolute;
    transform: translateY(-50%);
    right: 20px; /* Adjust this value as needed */
    margin-right: 110px;
    margin-top: -17px;
  
  }
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    color: #666;
    line-height: 1.6;
  }
  
  .benefits {
    margin-top: 30px;
  }
  
  .benefits h2 {
    color: #333;
  }
  
  .benefits ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .call-to-action {
    text-align: center;
    margin-top: 30px;
  }
  
  .call-to-action a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .call-to-action a:hover {
    background-color: #0056b3;
  }
  .goto{
  cursor: pointer;
  color: rgb(3, 104, 108);
  
  }
  table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  .table-container {
    display: inline-block;
    margin: 10px;
    vertical-align: top; /* Align the tables at the top of the container */
  }
  .old{
    text-decoration: line-through;
    color: red;
  }
  .new{
    color: green;
  }
  .btn.btn-primary{
    background-color: rgb(80, 186, 80) !important;
  }
  .getall{
    background-color: rgb(199, 227, 58);
    border-radius: 25%;
    margin-left: 500px;
    margin-bottom: 40px;
  }