<body>
<h1>Sociéte Informatique</h1> &nbsp;
<div class="right"><br><br><a routerLink="/listeproduit">
    <strong></strong></a>

&nbsp;&nbsp;&nbsp;<a routerLink="/reserv"><strong></strong></a>

&nbsp;&nbsp;&nbsp;<a routerLink="welcom"><strong></strong></a>

</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<B><div class="left"><br><br><br>&nbsp;&nbsp;<a><strong></strong></a></div></B>
<br><br>

<img src="../../assets/image/jj.jpg" alt="Votre image" class="image-droite petite-image">

&nbsp;&nbsp;<strong></strong>La Société Informatique, leader dans la vente de matériel informatique et le développement
 de logiciels,<br> propose un environnement idéal pour l'apprentissage et le développement professionnel. <br><br>
&nbsp;&nbsp;<a routerLink="/MaterielsInfo"><strong></strong></a>&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;<a routerLink="/PackFormation"><strong></strong></a>&nbsp;&nbsp;&nbsp;
<router-outlet></router-outlet><br><br>
<img src="../../assets/image/jj1.jpg" alt="Votre image"  class="pp"><br>
&nbsp;&nbsp;<strong> </strong> <br>
&nbsp;&nbsp;<strong></strong> <br>
&nbsp;&nbsp;<strong></strong> <br>
</body>

